# cp .env.EXAMPLE .env
# Then replace with your real secrets.

# Go to https://www.alchemyapi.io, sign up, create
# a new App in its dashboard, and replace "KEY" with its key
ROPSTEN_URL=https://eth-ropsten.alchemyapi.io/v2/YOUR_KEY_HERE

# Replace this private key with your Ropsten account private key
# To export your private key from Metamask, open Metamask and
# go to Account Details > Export Private Key
# Be aware of NEVER putting real Ether into testing accounts
ROPSTEN_PRIVATE_KEY=YOUR ROPSTEN PRIVATE KEY